/* estilos.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    margin: 0;
}

footer {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    margin: 0;
    margin-top: 40px;
}

footer p {
    margin: 0;
    font-size: 16px;
}

h2 {
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 8px 0;
    font-weight: bold;
}

input[type="text"], input[type="number"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    background-color: #f9f9f9;
}

/* Centrar la columna de acciones */
td:last-child {
    text-align: center;
}

/* Asegurar que el <br> funcione en la columna de acciones */
td form {
    display: block;
    margin: 0;
}

/* Estilo para los botones dentro de la tabla (Actualizar y Eliminar) */
td form input[type="submit"] {
    color: white;
    background-color: transparent; /* Fondo transparente */
    border: 2px solid; /* Añadir borde */
    padding: 4px 8px; /* Ajustar el tamaño del padding */
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    width: 70%; /* Ancho del 70% para hacerlos más cortos */
}

/* Botón de Actualizar en azul */
td form input[name="action"][value="Actualizar"] {
    border-color: #007BFF; /* Borde azul */
    color: #007BFF; /* Texto azul */
}

td form input[name="action"][value="Actualizar"]:hover {
    background-color: #007BFF;
    color: white; /* Texto blanco al pasar el ratón */
}

/* Botón de Eliminar en rojo */
td form input[name="action"][value="Eliminar"] {
    border-color: #FF6347; /* Borde rojo */
    color: #FF6347; /* Texto rojo */
}

td form input[name="action"][value="Eliminar"]:hover {
    background-color: #FF6347;
    color: white; /* Texto blanco al pasar el ratón */
}
